*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    user-select: none;
}
.hero{ /*Background Image*/
    background-color: rgba(0,0,0,0.75);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("images/background-image2.jpg");
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0;
    align-items: center;
    justify-content: center;

}
.overlay{
    width:100%;
    height:100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6));
    position: absolute;
    top: 0;

}
.hello{
font-size: 50px;
width:500px;
position: relative;
color: white;
}
.hello h3{
    top: 30px;
    display:inline-block;
    width: 750px;
    position: relative;
    left: 150px;

}

.nav-bar{
    position:relative;
    padding: 3rem;
    overflow: hidden;

}
    .nav-bar a{
        position:relative;
        top: 40px;
        border-radius: 8px;
        float: right;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 25px;
        text-align: center;
        transition: 700ms ease-out;
        color: white;
    
    }
    .nav-bar a:hover{
        opacity: 30%;
        background-color: white;
        color:black;
        transition: 700ms ease-in;
        cursor: pointer;
    
    }
    /*line--circle--line : Main page*/
    .lines{

        width: 100%;
        height: 450px;
        position: relative;
    
    }

    .lines::after, .lines::before{
        content:'';
        position:absolute;
        margin:auto;
        height: 2px;
        background: white;
        width: 45%;
        top:45%;
    
    }
    .lines::after{
        left:0;
    }
    .lines::before{
        right:0;
    }
    .circle{
        position: relative;
        top: 180px;
        height:40px;
        width:40px;
        border: 2px solid white;
        
        margin: auto;
        border-radius: 50%;
    }
.about{
    position:relative;
    color:white;
    font-size: 4rem;
    left:1140px;
    top: 400px;

}
.about-box{
    flex-direction: column;
    margin:auto;
    position:absolute;
    display:flex;
    align-items: center;
    height:400px;
    width:800px;
    top: 800px;
    left: 35%;
    color:white;


}
.about-box p{
    margin-bottom: 10px;
    font-size: 25px;

}
.section-2{
    height:100vh;
}