*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    user-select: none;
}
:root{
    --hot-pink: rgb(233, 84, 108);
    --white: #fff; 
    --hero: (rgba(0,0,0,0.75));
    --black: black;
} 
a{
    text-decoration: none; /*To remove potentially any unwanted text-decoration from links*/
}
.hero{ /*Background Image*/
    background-color: var(--hero);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("images/background-image2.jpg");
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0;
    align-items: center;
    justify-content: center;
}
.overlay{ /*Adding shade over background image SECTION-1*/
    width:100%;
    height:100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6));
    position: absolute;
    top: 0;
}
.hero2{ /*Background Image2*/
    background-color: var(--hero);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("images/background-image2.jpg");
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0;
    align-items: center;
    justify-content: center;
    -webkit-transform: scaleY(-1);/*flipping the image for better transition when going to section 2*/
    transform: scaleY(-1); /*flipping the image for better transition when going to section 2*/
}
.overlay2{ /*Adding shade over background image SECTION-2*/
    width:100%;
    height:100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8));
    position: absolute;
    top: 0;
}
.hello{ /**/
    font-size: 50px;
    width:500px;
    position: relative;
    color: var(--white);
}
.hello h3{/**/
    top: 30px;
    display:inline-block;
    width: 750px;
    position: relative;
    /*150PX*/
}
.avatar{
    position: absolute;
    display: flex;
    border-radius: 50%;
    left: 500px;
    top: 10px;
    filter: brightness(50%);/*Darkened Avatar*/
}


.nav-bar{/* navigation bar home,about,projects,contact*/
    position:relative;
    padding: 3rem;
    overflow: hidden;
}
    .nav-bar a{
        position:relative;
        top: 120px;
        border-radius: 8px;
        float: right;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 25px;
        text-align: center;
        transition: 700ms ease-out;
        color: var(--white);
    }
    .nav-bar a:hover{
        opacity: 30%;
        background-color: var(--white);
        color: var(--black);
        transition: 700ms ease-in;
        cursor: pointer;
    }
    /*END OF HEADER*/
    /*line--circle--line : Main page*/
    .lines{
        width: 100%;
        height: 120px;
        position: relative;
    }
    .lines::after, .lines::before{
        content:'';
        position:absolute;
        margin:auto;
        height: 1px;
        background: var(--white);
        width: 45%;
        top:45%;
    }
    .lines::after{
        left:0;
    }
    .lines::before{
        right:0;
    }
    .circle{
        position: relative;
        top: 30px;
        height:40px;
        width:40px;
        border: 2px solid var(--white);
        margin: auto;
        border-radius: 50%;
    }
    /*about includes the title, box and paragraph*/
.about{ 
    position:relative;
    color:var(--white);
    font-size: 4rem;
    justify-content: center;
    text-align: center;
    top: 300px;
}
.about-box{ 
    flex-direction: column;
    margin:auto;
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    height:250px;
    width:800px;
    top: 750px;
    color:var(--white);
    left: 35%;
}
.about-box p{
    margin-bottom: 10px;
    font-size: 25px;
}
  /*END OF SECTION-1*/
.section-2{ /*Second section for website*/
    background-color: rgb(8, 8, 8);
    width: 100%;
    height: 100vh;
    position: relative;
}
.header-projects{/*Title of section-2*/
    color: var(--white);
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    justify-content: center;
    text-align: center;

}
.project-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    position:relative;
    min-height: 400px;
    margin-top: 350px;
    gap: 50px;
}
.project-container h3{
    margin-top:100px;
}
.project-container i{ /*Icon*/
    font-size: 50px;
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    color: var(--hot-pink);
}

.box0,.box1,.box2{/*child elements of .project-container*/
    font-size:25px;
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    color: var(--white);
    transition: 700ms ease-out;
    transition: 700ms ease-in;
}
.box0:hover,.box1:hover,.box2:hover{
    font-size: 30px;
    box-shadow: 5px 5px 5px 5px rgba(255,255,255,0.2);
    transition: font-size .5s ease;
    cursor:pointer;
}
.box0:hover,.box1:hover,.box2:hover{
    padding: 5px 5px;
    transition: 700ms ease-out;
}
  /*END OF SECTION-2*/
.section-3{ /*Third section for website*/
    background-color: var(--black);
    width: 100%;
    height: 20vh;
    position: relative;
    color: rgb(90, 90, 90);
    text-align: center;
    font-size: 20px;
}
.contact{
    display: block;
    position: relative;
    top: 25px;
    font-size: 35px;
}
.link{ /*Icons*/
    font-size: 40px;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    justify-content: center;
}
/*Could use much more practice with media queries*/
@media only screen and (max-width: 800px){
*{
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

}
@media only screen and (min-width:40em ){
    *{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
}
